* {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}

form {
    margin-left: auto;
    margin-right: auto;
}

.App {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black;
    height:  600px;
    /* border: 2px solid black; */
}

.btn-delete {
    background-color: red;
}


.pirate-background {
    background-color: orange;
}

.pirate-list {
    width: 700px;

}